@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Signika:wght@300..700&display=swap");

a {
  text-decoration: none;
}

/* Color Definitions */
:root {
  --shadow: #001401;
  --primary: #006663;
  --secondary: #00373d;

  --highlight: #e5e5e5;
  --light: #999999;
  --med: #8c8164;

  --graddark: linear-gradient(180deg, #001401 0%, #00373d 172.33%);
  --gradmid: linear-gradient(180deg, #001401 -20%, #006663 172.33%);
  --gradmed: linear-gradient(180deg, #8c8164 0%, #e5e5e5 172.33%);
  --gradlight: linear-gradient(180deg, #ffffff 0%, #999999 90%);
}

/* Font Definitions */
@font-face {
  font-family: Mantinia;
  src: url("assets/Mantinia.otf") format("opentype");
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary);
}

::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--shadow);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  width: 10px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Highlight */
::selection {
  background: transparent;
  color: var(--primary);
}

/* Navigation Bar */

.navBar {
  background-color: var(--shadow);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.buttonMargins {
  margin-left: 50px;
  margin-right: 50px;
}

.navButton {
  color: var(--light);
  background-color: var(--light);
  width: 58px;
  height: 58px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navButton:hover {
  color: var(--primary);
}

.compassButton {
  color: var(--light);
  background-color: var(--light);
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.compassButton:hover {
  color: var(--primary);
}

/* Title Screen */

.logo {
  width: 5%;
  height: auto;
  margin: 10px;
  margin-left: 25px;
}

.line {
  width: 75%;
  height: 1px;
  background-color: var(--light);
  margin: 0;
}

.eldenBackground {
  background-image: url("assets/Elden-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  padding: 10%;
}

.quickBuilds {
  font-size: 8vh;
  font-family: "Signika";
  margin: 0;

  background: var(--gradmed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.EldenRing {
  font-size: 25vh;
  font-family: Mantinia;
  text-align: center;
  margin: 0;

  background: var(--gradlight);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.author {
  font-size: 4vh;
  font-family: "Signika";

  background: var(--gradmed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Other */

.centredBuildButtons {
  display: flex;
  justify-content: center;
}

.buildButton {
  background: var(--graddark);
  color: var(--highlight);
  padding: 5vh;
  width: 28vh;
  text-align: center;
  border: 1px;
  border-radius: 10px;
  font-family: "Signika";
  font-size: 3vh;
  margin-top: 10%;
  cursor: pointer;
}

.buildButton:hover {
  background: var(--gradmid);
}

.sectionTitle {
  font-family: "Cormorant Garamond";
  font-size: 12vh;
  margin: 0;
  margin-left: 5%;

  background: var(--gradlight);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionIcon {
  color: var(--light);
  width: 128px;
  margin-left: 50px;
  height: auto;
  align-self: center;
}

.section {
  padding: 5%
}

.oddSection {
  background-color: var(--primary);
}

.weapons {
  background-color: var(--secondary);
  width: 95%;
  justify-content: center;
  justify-self: center;
  display: flex;
  margin: auto;
  overflow: auto;
  border-radius: 10px;
  padding: 2vh;
  margin-top: 100px;
  border: 2vh solid var(--secondary);
}

.weaponElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--graddark);
  border-radius: 10px;
}

.weaponElement:hover {
  background: var(--gradmid);
}

#weaponName {
  font-family: "Signika";
  color: white;
  font-size: 20px;
  margin: 0px;
  margin-top: 20px;
}

.weaponButton {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: transparent;
}

#finalBuild {
  background: #00373d;
}

#finalSwordAndArmourGroup {
  display: flex;
}

#finalWeaponBox {
  background: linear-gradient(180deg, #001401 0%, #00373d 143.88%);
  margin: 10px;
  padding: 50px;
  border-radius: 5px;
  color: white;

  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Signika";
  font-size: larger;
}

#finalWeaponImage {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
}

#finalArmourBox {
  background: linear-gradient(180deg, #001401 0%, #00373d 143.88%);
  padding: 50px;
  border-radius: 5px;
  color: white;
  font-family: "Signika";
  font-size: larger;

  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.finalArmourImage {
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

#finalTalismanGroup {
  background: linear-gradient(180deg, #001401 0%, #00373d 143.88%);
  display: flex;
  justify-items: center;
  align-items: center;
}

.finalTalismanBox {
  background: linear-gradient(180deg, #001401 0%, #00373d 143.88%);
  padding: 50px;
  border-radius: 5px;
  color: white;
  font-family: "Signika";
  font-size: larger;
  margin: 20px;
}

.finalTalismanImage {
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

#finalPhysickAndStatsGroup {
  display: flex;
}

#finalPhysickGroup {
  display: flex;
  background: linear-gradient(180deg, #001401 0%, #00373d 143.88%);
  border-radius: 5px;
}

#finalPhysickBox {
  padding: 50px;
  border-radius: 5px;
  color: white;
  font-family: "Signika";
  font-size: larger;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.finalPhysickImage {
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

/* old code for reference */
#box {
  color: black;
  background-color: white;
  padding: 50px;

  border: 10px solid red;
  border-radius: 5px;

  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
  height: 100px;
}
