@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia+Glaze:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Signika:wght@300..700&display=swap");

/* Color Definitions */
:root {
  --shadow: #001401;
  --primary: #006663;
  --secondary: #00373d;

  --highlight: #e5e5e5;
  --light: #999999;
  --med: #8c8164;

  --graddark: linear-gradient(180deg, #001401 0%, #00373d 172.33%);
  --gradmed: linear-gradient(180deg, #8c8164 0%, #e5e5e5 172.33%);
  --gradlight: linear-gradient(180deg, #ffffff 0%, #999999 90%);
}

/* Font Definitions */
@font-face {
  font-family: Mantinia;
  src: url("assets/Mantinia.otf") format("opentype");
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--shadow);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  width: 10px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Navigation Bar */

.navBar {
  background-color: var(--shadow);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navButton {
  color: var(--light);
  background-color: var(--light);
  width: 32px;
  height: 32px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navButton:hover {
  color: var(--primary);
}

/* Title Screen */

.logo {
  width: 75px;
  height: 75px;
  margin: 5px;
}

.line {
  width: 75%;
  height: 1px;
  background-color: var(--light);
  margin: 0;
}

.eldenBackground {
  background-image: url("assets/Elden-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  padding: 200px;
}

.quickBuilds {
  font-size: 88px;
  font-family: "Signika";
  margin: 0;

  background: var(--gradmed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.EldenRing {
  font-size: 256px;
  font-family: Mantinia;
  text-align: center;
  margin: 0;

  background: var(--gradlight);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.author {
  font-size: 48px;
  font-family: "Signika";

  background: var(--gradmed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Other */

.buildButton {
  background: linear-gradient(180deg, #001401 0%, #00373d 172.33%);
  color: var(--highlight);
  padding: 40px;
  border: 1px;
  border-radius: 10px;
  margin: 50px;
  font-family: "Signika";
  font-size: 20px;
  cursor: pointer;
}

.centredBuildButtons {
  display: flex;
  justify-content: center;
}

#box {
  color: white;
  background-color: white;

  border-radius: 10px;
  border: 10px solid;
  border-color: blue;
  margin: 10px;
  width: 50px;
  height: 50px;
}

#flex {
  display: flex;
}
